{% extends "auctions/layout.html" %}

{% block body %}
{% if listings %}
    <h1>Category {{ category_to_search }}</h1>
    {% for listing in listings %}
        {%if not listing.is_closed %}
        <div class="container">
                <h5><a href="{% url 'listingPage' listing.id %}">Listing: {{listing.title}}</a></h5>
                <img src="{{listing.url}}" alt="item-image" width="300px"> <br><br><br>
                <p><strong>Description:</strong> {{ listing.description }}</p>
                <p><strong>Starting Bid:</strong> ${{ listing.price }}</p>
                <p><strong>Category:</strong></p>
                <ul>
                    {% for category in listing.item_category.all %}
                    <li>{{ category.category }}</li>
                    {% endfor %}
                </ul>
                <p>Posted by <strong>{{ listing.user }}</strong></p>
            </div>
            <hr>
        {%endif%}
    {%endfor%}
{% else %}
    <h2>No Item with such category</h2>
{% endif %}

<a href="{% url 'categoryDisp' %}"> Back to categories</a>
{% endblock %}