{% extends "auctions/layout.html" %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

    <form class="form-group" action="{% url 'create' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input autofocus class="form-control" type="text" name="title" placeholder="Title" value="{{ form.instance.title|default_if_none:'' }}" required>
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="Description" name="description" cols="30" rows="10" required>{{ form.instance.description|default_if_none:'' }}</textarea>
      </div>
      <div class="form-group">
        <input autofocus class="form-control" type="number" name="price" placeholder="Price" value="{{ form.instance.price|default_if_none:'' }}" required>
      </div>
      <div class="form-group">
        <input autofocus class="form-control" type="url" name="url" placeholder="Image Url" value="{{ form.instance.url|default_if_none:'' }}">
      </div>

        <div class="form-group">
            <label for="item_category">Categories:</label>
            <select name="item_category" multiple>
              {% for category in categories %}
                <option value="{{ category.id }}">{{ category.category }}</option>
              {% endfor %}
            </select>
          </div>

        <input class="btn btn-primary" type="submit" value="Create Listing">
  </form>
{% endblock %}