{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {%if not listings%}
        <p>No listings</p>
    {%endif %}
    
    {% if success_message %}
        {% for message in success_message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

        {% for listing in listings %}
        <div class="container">
                <h5><a href="{% url 'listingPage' listing.id %}">Listing: {{listing.title}}</a></h5>
                <img src="{{listing.url}}" alt="item-image" width="300px"> <br><br><br>
                <p><strong>Description:</strong> {{ listing.description }}</p>
                <p><strong>Category:</strong></p>
                <ul>
                    {% for category in listing.item_category.all %}
                    <li>{{ category.category }}</li>
                    {% endfor %}
                </ul>
                <p>Posted by <strong>{{ listing.user }}</strong></p>
            </div>
            <hr>
        {%endfor%}
{% endblock %}