{% extends "auctions/layout.html" %}

{% block body %}


{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="container space">
    <h5>Listing: {{listing.title}}</h5>
    <img src="{{listing.url}}" alt="item-image" width="300px"> <br><br><br>
    <p><strong>Description:</strong> {{ listing.description }}</p>
    <p><strong>Starting Bid:</strong> ${{ listing.price }}</p>
    <p><strong>Category:</strong></p>
    <ul>
        {% for category in listing.item_category.all %}
            <li>{{ category.category }}</li>
        {% endfor %}
    </ul>
    <p>Posted by <strong>{{ listing.user  }}</strong></p>
    
       {% if user.is_authenticated %}
           <div class="centre">
            <form action="{% url 'add_or_remove_watchlist' listing.id %}" method="post">
                {% csrf_token %}
            <button class="btn btn-primary">{{button}}</button>
            </form>
           </div>
            <br> <br>
           <form action="{% url 'bid_item' listing.id  %}" method="post">
                  {% csrf_token %}
                <div class="input-group has-validation">
                    <span class="input-group-text">$</span>
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGroup2" name="bid_amount" placeholder="Place a bid" required>
                      <label for="floatingInputGroup2">Please place a bid</label>
                    </div>
                  </div> <br>

                  <button class="btn btn-primary" type="submit">Place Bid</button>
           </form>

            <form action="{%url 'addcomment' listing.id %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <textarea name="comment-text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Drop Comment"></textarea>
              </div>
              <button class="btn btn-primary" type="submit">Comment</button>
        </form>
       {% endif %}
</div>

{% if comments %}
<div>
    <h4>Comments</h4>
    <ul>
        {%for comment in comments %}
        <li><strong>{{ comment.user }} :</strong> {{ comment.text }}</li>
        {%endfor%}
    </ul>
</div>
{% endif %}
 
<div>
    {% if not listing.is_closed %}
        {% if listing.user == request.user.username %}
            <form action="{% url 'close_listing' listing.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Close Listing">
            </form>
        {% else %}
        <h3>This listing is already closed.</h3>
        {% endif %}
    {% endif %}
</div>

    <br>
    <br>
</button>
{% endblock %}
